@use 'sass:map';
@use '@angular/material' as mat;
@import "@angular/material/theming";
@import './material.scss';

$color-config: mat.get-color-config($my-app-front-theme);

$primary: map.get($color-config, 'primary', 500);
$primary-500: map.get($color-config, 'primary', 500);
$primary-600: map.get($color-config, 'primary', 600);
$primary-700: map.get($color-config, 'primary', 700);
$primary-800: map.get($color-config, 'primary', 800);

$accent: map.get($color-config, 'accent', 500);

$warn: map.get($color-config, 'warn', 500);

$is-dark-theme: map.get($color-config, 'is-dark');

$chalk: rgba(255, 255, 255, 0.85);
