<span #span>
  <ng-template
    [ngIf]="_fits"
    [ngIfElse]="notFits"
  >
    <ng-container *ngTemplateOutlet="iconsTemplate"></ng-container>
  </ng-template>

  <ng-template #notFits>
    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
    <mat-menu
      #menu="matMenu"
      yPosition="below"
      xPosition="before"
    >
      <div mat-menu-item>
        <ng-container *ngTemplateOutlet="iconsTemplate"></ng-container>
      </div>
    </mat-menu>
  </ng-template>
</span>

<ng-template #iconsTemplate>
  @for (action of _actions; track $index) {
    @if (_actionCellEvents[action].origin === 'primeng') {  
      <i
        [class]="_actionCellEvents[action].icon + ' ' + (_actionCellEvents[action].className ?? '')"
        [pTooltip]="_actionCellEvents[action].tooltip ?? ''"
        tooltipPosition="top"
        (click)="click(action)"
      ></i>
    } @else {
      <mat-icon
        [id]="action"
        [class]="_actionCellEvents[action].className"
        (click)="click(action)"
        [pTooltip]="_actionCellEvents[action].tooltip ?? ''"
        tooltipPosition="top"
      >
        {{ _actionCellEvents[action].icon }}
      </mat-icon>
    }
  }
</ng-template>
