<h3
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragBoundary="body"
  cdkDragHandle
>
  {{data.title}}
</h3>
<mat-dialog-content>
  @if (data.type === 'confirmation' && data.bodyText) {
    <p [innerHTML]="data.bodyText"></p>
  }
  @if (data.type !== 'confirmation' && fields.length) {
    <app-formly
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></app-formly>
  }
  <ng-template #target></ng-template>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
  @if (data.showCancelButton) {
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="undefined"
    >
      {{ data.cancelText }}
    </button>
  }
  <button
    mat-raised-button
    color="primary"
    (click)="_onSubmitEvent(fields.length !== 0 ? model : true)"
    [disabled]="_disabled$ | async"
  >
    {{ data.confirmText }}
  </button>
</mat-dialog-actions>
