span {
  height: 100%;
}
mat-icon {
  padding-left: 0 !important;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignament {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
