<div class="space-between">
  <h1 class="mat-h1">
    Detalle de Comprobante de Caja
    @if(receipt?.cancelReceipt) {
      <app-chip
        color="rgb(255, 98, 89)"
        icon="pi-times"
        [value]="'Cancela '+ padNumber(receipt?.cancelReceipt?.number)"
        [style.cursor]="'pointer'"
        (click)="navigate(['..', receipt.cancelReceipt.id])"
      ></app-chip>
    } @else if (receipt?.isCancelled) {
      <app-chip
        color="rgb(255, 98, 89)"
        icon="pi-times"
        [value]="'Cancelado por ' + padNumber(receipt?.cancelledBy?.number)"
        [style.cursor]="'pointer'"
        (click)="navigate(['..', receipt.cancelledBy.id])"
      ></app-chip>
    }
  </h1>
  <div class="buttons-div">
    @if (authService.hasRoleSignal('cancelReceipt')()) {
      <p-button
        label="Reverso"
        icon="pi pi-backward"
        styleClass="p-button-danger"
        [size]="'small'"
        [disabled]="!receipt?.isActive"
        (onClick)="onCancel()"
      ></p-button>
    }
    @if (authService.hasRoleSignal('closeReceipt')() && receipt?.isActive) {
      <p-button
        label="Cerrar"
        icon="pi pi-check"
        styleClass="p-button-success"
        [size]="'small'"
        [disabled]="!receipt?.isActive"
        (onClick)="onClose()"
      ></p-button>
    }
    @if (authService.hasRoleSignal('reopenReceipt')() && !receipt?.isActive) {
      <p-button
        label="Reabrir"
        icon="pi pi-check"
        styleClass="p-button-success"
        [size]="'small'"
        [disabled]="receipt?.isCancelled"
        (onClick)="onOpen()"
      ></p-button>
    }
    <p-button
      label="Imprimir"
      icon="pi pi-print"
      [size]="'small'"
      (onClick)="navigate(['print'])"
    ></p-button>
  </div>
</div>

<app-formly
  [fields]="fields"
  [model]="frozenModel"
></app-formly>
<app-formly
  [fields]="descriptionField"
  [options]="optionsDetails"
  [model]="descriptionModel"
></app-formly>

<br>

<div class="space-between">
  <h2 class="mat-h2">Netos</h2>
  <div class="buttons-div">
    @if (authService.hasRoleSignal('addConcept')()) {
      <p-button
        label="Añadir"
        icon="pi pi-plus"
        [size]="'small'"
        [disabled]="!receipt?.isActive"
        (onClick)="onCreateConcept()"
      ></p-button>
    }
  </div>
</div>
<div class="ag-grid-div">
  <ag-grid-angular
    class="ag-theme-material"
    [columnDefs]="colDefs"
    [rowData]="rowDataConcepts"
    [gridOptions]="gridOptions"
    [style]="'height: 100%; width: 100%'"
  ></ag-grid-angular>
</div>
