p-tree ::ng-deep {
  .p-tree {
    background: rgba(255, 255, 255, 0.4) !important;
    // border: none !important;
  }
}
::ng-deep {
  .align-self-stretch {
    app-file-type {
      display: flex;
      .drop-container {
        align-self: stretch;
        width: 100%;
      }
    }
  }
}