$border-color: rgb(106, 106, 106);
.payment-div {
  display: flex;
  justify-content: space-between;
}
.total {
  font-weight: 600;
  margin-top: 1rem;
}
table {
  width: 100%;
  margin-top: 1rem;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid $border-color;
  border-collapse: collapse;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.6rem;
}
.total-row {
  td {
    border: none;
  }
}
th {
  font-weight: 400;
}
.cell-right {
  text-align: end;
}
