<nav>
  <div>
    @if (isLogged()) {
      <mat-icon fontIcon="menu" tabindex="0" (keydown.enter)="onMenuClick()" (click)="onMenuClick()"></mat-icon>
    }
    <img src="assets/img/logo-black.png">
    @if (_uxService.isMobile$ | async) {
      <span>Spallione</span>
    } @else {
      <span>Estudio Impositivo Spallione</span>
    }
  </div>
  @if (isLogged()) {
    <div class="user-info">
      @if (_uxService.isMobile$ | async) {
        <div class="user-icon">{{((user$ | async)?.name ?? '') | titlecase | slice : 0 : 1}}</div>
      } @else {
        <span>{{(user$ | async)?.name + ' ' + (user$ | async)?.surname}}</span>
      }
      <mat-icon
        tabindex="0"
        fontIcon="logout"
        (keydown.enter)="logout()"
        (click)="logout()"
      ></mat-icon>
    </div>
  }
</nav>
