@import 'src/assets/scss/variables.scss';

* {
  transition: all 0.1s;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #4e4087;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  color: $chalk;
  div {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;
    mat-icon {
      margin-left: 0.75rem;
      scale: (0.8);
      cursor: pointer;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
    img {
      height: 50%;
      filter: invert(1);
      opacity: 80%;
      margin-left: 1rem;
    }
  }
  .user-info {
    margin-right: 12px;
    .user-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $chalk;
      color: rgb(71, 71, 71);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    mat-icon {
      cursor: pointer;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  img {
    display: none;
  }
}