div {
  display: flex;
  align-items: center;
  flex-direction: column;
  formly-form {
    width: clamp(200px, 40%, 400px);
    ::ng-deep {
      .justify-center {
        display: flex;
        justify-content: center;
      }
    }
  }
}
