<div class="window">
  <app-navbar (menuClick)="isOpen = !isOpen"></app-navbar>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-bar>
  <div class="main-div">
    <app-sidebar
      [open]="isOpen"
      *ngIf="isLogged$ | async"
    ></app-sidebar>
    <main>
      @if (isOpen) {
        <div class="backdrop" (click)="isOpen = false"></div>
      }
      <div
        style="position: relative"
        [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </main>
  </div>
</div>
<p-toast></p-toast>
