<div class="window">
  <app-navbar (menuClick)="openCloseSidebar()"></app-navbar>
  @if (_loadingService.isLoading()) {
    <mat-progress-bar mode="indeterminate"/>
  }
  <div class="main-div">
    @if (_authService.isLogged()) {
      <app-sidebar [open]="isOpen()"/>
    }
    <main>
      @if (isOpen()) {
        <div class="backdrop" (click)="openCloseSidebar()"></div>
      }
      <div
        style="position: relative"
        [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </main>
  </div>
</div>
<p-toast></p-toast>
