.cursor-pointer {
  cursor: pointer;
}
.card-container {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 1rem;
  p-card {
    user-select: none;
    cursor: pointer;
    align-self: stretch;
    img {
      height: 160px;
      object-fit: cover;
    }
    ::ng-deep {
      .p-card {
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
:host ::ng-deep {
  .p-card .p-card-title {
    font-size: 1.2rem;
  }
  .p-card .p-card-subtitle {
    font-size: 1rem;
  }
  .p-card .p-card-content {
    padding: 0.4rem 0;
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
}
::ng-deep {
  .radio-inputs-special {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
