<h1 class="mat-h1">
  @if (showingOthers()) {
    <span class="pi pi-angle-left cursor-pointer" (click)="!showingOthers()"></span>
  }
  Útiles
</h1>

@if (showingOthers()) {
  <app-others></app-others>
} @else {
  <div class="card-container">
    @for (card of cards; track $index) {
      <p-card
        [header]="card.header"
        [subheader]="card.subheader"
        (click)="card.onClick()"
      >
        <ng-template pTemplate="header">
          <img alt="Card" [src]="card.img"/>
        </ng-template>
        <p>{{card.subtitle}}</p>
      </p-card>
    }
  </div>
}